.square {
  background-color: transparent;
  border: 2px solid lightgreen;
  font-size: 68px;
  font-weight: bold;
  line-height: 100px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-weight: italic;
  /* background: rgba(60, 209, 235, 0.564); */
}
@media (max-width:525px){
  .square {
    height: 60px;
    width: 60px;
    font-size: 48px;
    line-height: 48px;
  }
}