*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  background-image: url('./images/sunrise-landscape-scenery-clouds-sky-digital-art-4k-wallpaper-uhdpaper.com-769@0@i.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
